# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
Insi_trade_venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Databases & Data
*.duckdb
*.duckdb.wal
/data/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# MacOS
.DS_Store
